/*.img{
    height: 70px;
    width: 70px;
    
}
*/
body {
    background-color: black;
    color: white; /* text readable rahe isliye */
    margin: 0;
  }
nav img {
  height: 50px;
  width: 40px;
  object-fit: contain;
  position: absolute;
  top: 5px;
  left: 10px;

}
nav {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #3a9aa5;
    padding: 10px 20px;
    
}

nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin: 0;
}


*{

    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: right;
}
nav img{
    width: 90px;
    margin-left: 0;
    margin-top: 0;

}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 12px;
    position: relative;
    font-weight: 800;
    
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}


.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#000000;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%; 
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.text-box{
    margin: 10px 0px 40px;
    font-size: 14px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    

}

.hero-btn:hover{
    background-color: green;
    transition: 0.5s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nave-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #086664;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: #ffffff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nave-links ul{
        padding: 30px;
        

    }
    
    

}
/*---------------course----------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    color: black;
    padding-top: 100px;
}
h1{
    font-size: 38px;
    color: #f5f5f5;
    font-weight: 600;

}
p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    color: rgb(174, 100, 100);
   font-style: normal;
}
 .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 .course-col{
    flex-basis: 31%;
    background-color: #fff4f3;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
 .course-col:hover{
    box-shadow: 0 0 20px 0px purple;

 }
 @media(max-width:700px){ 
    .row{
        flex-direction: column;
    }
}
/**************************************campus****************************/
    .campus{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
   background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

}
.layer:hover{
    background-color: rgba(226,0,0,0.7);
    transition: 0.5s;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    
}
/*****************************facilities***********************/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    background: transparent;
    flex-basis: 31%;
    border-radius: 5px;
    margin-bottom: 5%;

}
.facilities-col img{
width: 100%;
border-radius: 10px;
}
.facilities-col:hover{
    background-color: #f44336;
    transition: 0.5s;
}

/* ----------------footer------------------ */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}
.image-strip {
  overflow: hidden;
  background-color: #f5f5f5;
  padding: 10px 0;
}

.scroll-container {
  display: flex;
  width: max-content;
  animation: scrollLeft 30s linear infinite;
  gap: 20px;
}

.scroll-container img {
  height: 150px;
  border-radius: 8px;
  flex-shrink: 0;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


















